@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
  --primary-color: #f1fff0;
  --secondary-color: #f8fefa;
  --tertiary-color: #20b36f;
  --footer-color: #282530;
  --color--light: #ffffff;

  --text-heading: #252628;
  --text-body: #303640;
  --text-body-light: #888e97;

  --transition: all 0.3s ease-in-out;

  --width-lg: 88%;
  --width-md: 94%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  color: var(--text-body);
  background-color: var(--color--light);
  overflow-x: hidden;
}

h1,
h2,
h4 {
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 1px;
}

h1 {
  font-size: 3.5rem;
  color: var(--text-heading);
}

h2 {
  font-size: 2rem;
  font-weight: 900;
  color: #503b3b;
}

h4 {
  font-size: 1.3rem;
  color: var(--text-heading);
  font-weight: 900;
}

a:link,
a:visited,
a:active {
  transition: var(--transition);
}

.text-primary {
  color: var(--tertiary-color);
}

/* General Styles */
.container {
  width: var(--width-lg);
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
}

.btn {
  padding: 0.5rem 1.5rem;
  background-color: var(--tertiary-color);
  border-radius: 2rem;
  color: #fff;
  transition: var(--transition);
}

.btn:hover {
  color: #ffffffc9;
}

/* Header Styles */
header {
  background-color: var(--primary-color);
}

nav {
  width: 100%;
  height: min-content;
  padding: 1rem 0;
}

.nav__container {
  display: flex;
  justify-content: space-between;
}

.nav__logo > a {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.img__logo {
  width: 10%;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav__links a {
  font-size: 1.1rem;
  font-weight: 500;
  transition: var(--transition);
  color: var(--text-body);
}

.nav__links a:hover {
  color: #a18a8a;
}

#nav__btn {
  padding: 0.5rem 1.5rem;
  background-color: var(--tertiary-color);
  border-radius: 2rem;
  color: #fff;
  transition: var(--transition);
}

#nav__btn:hover {
  color: #ffffffc9;
}

.hero__container {
  display: grid;
  grid-template-columns: repeat(2, 43% 53%);
  gap: 4rem;
}

.hero__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-danger {
  color: orangered;
  font-size: 1.1rem;
}

.hero__left a {
  font-size: 1.1rem;
  width: 20%;
}

.hero-light {
  font-size: 1.1rem;
  margin: 1rem 0;
  color: var(--text-body-light);
  line-height: 2;
}

/* Learn Styles */
.learn__container {
  margin-bottom: 5rem;
}

.cards {
  margin: 5rem 0;
  display: flex;
  gap: 2rem;
}

.card__container {
  display: flex;
  justify-content: center;
}

.card {
  background-color: var(--secondary-color);
  width: 70%;
  height: 15rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: var(--transition);
}

.card:hover {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

.card h3 {
  margin-bottom: -1rem;
}

.card__img {
  width: 40%;
}

/* Courses Styles */
.courses__heading {
  text-align: center;
  margin-bottom: 4rem;
}

.course__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10rem;
  margin-bottom: 10rem;
}

.course__card {
  width: 100%;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 2rem;
}

.course__img img {
  border-radius: 1rem;
}

.course__card h3 {
  margin: 1.5rem 0 0.3rem 0;
}

.course__card p {
  margin: 1rem 0;
}

.purchasers {
  display: flex;
  justify-content: space-between;
}

/* Testimonial Styles */
.testimonial__container {
  display: flex;
  gap: 2rem;
  width: 50%;
  margin-bottom: 5rem;
  align-items: center;
}

.profile__img {
  width: 10%;
  aspect-ratio: 1 / 1;
}

.profile__img img {
  border-radius: 50%;
}

.testimonial__container p {
  width: 70%;
  color: var(--text-body-light);
}

/* Footer Styles */
footer {
  background-color: var(--footer-color);
  color: #fff;
}

footer p {
  color: var(--text-body-light);
}

.footer__container {
  padding-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

.footer__box h3 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 0.5rem;
}

.footer__box h5 {
  font-size: 1rem;
}

.footer__copyright {
  text-align: center;
  padding: 2rem 0;
}
